<header>
<h3>Julia package documentation chat<h3>
</header>
<div id="i3ol" class="row">
    <!-- Ensure the row takes full height and uses flexbox -->
    <div id="io73" class="st-col col-12 col-sm st-module">
        <!-- Full height and scroll for first column -->
        <div id="scrollingDiv" v-if="history!=[]">
            <h6 id="il2av">History</h6>
            <div id="ikoo5" v-for="pair in history" style="margin-top:10px">
                <q-card id="iibwq" class="p-4 mt-2" style="padding:10px">
                    <h6>You asked</h6>
                    <markdowntext :text="pair[0]"></markdowntext>
                </q-card>
                <q-card id="i2qki" class="p-4 mt-2" style="padding:10px;margin-top:5px">
                    <h6>Answer</h6>
                    <markdowntext :text="pair[1]"></markdowntext>
                </q-card>
            </div>
        </div>
        <div id="chatInputContainer">
            <q-input id="iy5x" label="Enter question" v-model="question"></q-input>
            <q-btn id="iklm9" color="primary" icon="message" label="Submit" :loading="submit" v-on:click="submit = true; "></q-btn>
        </div>
    </div>
    <div id="i1lal" class="st-col st-module col-2">
        <div>
            <h6> Previous chats </h6>
            <q-list bordered="" separator="" id="iauzo">
                <q-item clickable="" v-for="(chat, index) in chat_list" :key="index" id="i14lc">
                    <q-item-section v-on:click="chat_index = index"  id="izipf">
                        {{ chat[0][0] }}
                        <q-tooltip>{{ chat[0][0] }}</q-tooltip>
                    </q-item-section>
                    <q-item-section side="">
                        <q-icon v-on:click="delete_index = index" id="ihaoh" class="cursor-pointer" name="close"></q-icon>
                    </q-item-section>
                </q-item>
            </q-list>
            <q-btn id="iso13" color="primary" icon="add" label="New chat" v-on:click="new_chat = true" :dense="true"></q-btn>
            <q-btn id="iso13-2" color="primary" icon="restore" label="Reset chat" v-on:click="reset_chat = true" :dense="true"></q-btn><br>
            <h6>Settings</h6>
            <q-select id="ia0jr" v-model="model" label="Model" :options="model_options"></q-select>
            <q-select id="i6vp3" label="Packages" :options="packages" v-model="index_in_use"></q-select>
            <q-input id="irrxt" v-model="openai_key" :dense="true" label="OpenAI key" type="password"></q-input>
            <q-btn id="iov4z" color="primary" icon="inventory" label="Build index" v-on:click="build_index = true" :loading="build_index" :dense="true"></q-btn>
            <p></p>
            <h6 id="iepi7">Stats</h6>
            <p>Tokens:&nbsp; {{total_tokens}}</p>
            <p>Cost: {{total_cost}}&nbsp;</p>
        </div>
    </div>
</div>
<script type="module" src="https://md-block.verou.me/md-block.js"></script>
